<!DOCTYPE html>
<html>
  <head>
    <title>DemoFestalab</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
     <%= stylesheet_link_tag "forms", "data-turbo-track": "reload" %>
      <%= stylesheet_link_tag "search", "data-turbo-track": "reload" %>
       <%= stylesheet_link_tag "tabble", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "buttons", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container">
  
    <%= yield %>
  </body>
</html>
